content-image/********************/
/********************/
/* CUSTOM OVERRIDES */
/********************/
/********************/

#tinyviolet {
    width: 26px;
    height: 26px;
    padding-right: 10px;
}

.btn, a {
  color: #8F80AF;
  border-color: #8F80AF;
}

.content-section {
  width: 100%;
  padding: 40px 0;
  color: #fff;
  min-height: 240px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.content-image {
  width: 100%;
  min-height: 240px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#about, #contact, #team {
  background-color: #000;
}

.images {
  padding: 0px;
  background: url(../img/geode.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.person-block {
  margin: 10px 0 20px 0;
}

#more {
  background-color: #472c77;
}

#more .btn {
  color: #FFF;
  border-color: #FFF;
}

#more .btn:hover {
  color: #000;
}

#partners {
  background-color: #fff;
  color: #472c77;
}

.pics {
  margin: 0 0 20px 0;
}


@media(min-width:767px) {
    .download-section {
        padding: 100px 0;
    }
}

.btn-apply {
  border-color: #472c77;
  background-color: #fff;
  color: #472c77;
}

.quote {
  font-style: italic;
}

.testimonials {
  color: #8F80AF;
}

p {
  font-size: 18px;
  line-height: 1.3;
}
